<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mysuite">
    <test name="regression">
        <parameter name="URL" value="https://www.flipkart.com/">

        </parameter>

        <classes>
            <class name="org.testng.MainTest">
                <methods>
                    <exclude name="testMethod"/>
                </methods>
            </class>
            <class name="org.testng.TrainingTest">
            </class>
            <class name="com.dataprovider.TrainingDataProvider">
            </class>

        </classes>
    </test>
</suite>