<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Mysuite">
    <test name="regression">
        <classes>
            <class name="org.testng.MainTest">
                <methods>
                    <exclude name="testMethod"/>
                </methods>
            </class>
            <class name="org.testng.TrainingTest">
            </class>
        </classes>
    </test>
</suite>